src/pages/contacts.pug
extends includes/layout
include mixins/inputText

block vars
  - const title = 'Admin | Contacts'

append content
  main#contacts-page
    form.container.main-form
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Контакты
            .btn-wrap
              button.btn.btn-primary(type="submit") Изменить
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Общие контакты
            .row
              .col-4
                +inputText('text', 'headerNumber', 'Номер телефона в шапке')
              .col-4
                +inputText('text', 'facebook', 'Facebook')
              .col-4
                +inputText('text', 'instagram', 'Instagram')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Офис продаж в Одессе
            .row
              .col-4.mb-3
                +inputText('text', 'phoneOdesa-1', 'Номер телефона 1')
              .col-4.mb-3
                +inputText('text', 'addressOdesa-1', 'Адрес 1')
              .col-4.mb-3
                +inputText('text', 'phoneOdesa-2', 'Номер телефона 2')
              .col-4
                +inputText('text', 'addressOdesa-2', 'Адрес 2')
              .col-4
                +inputText('text', 'mailOdesa', 'Почта')
        .col-12
          .inputs
            .inputs__title-wrap
              h2.inputs__title Офис продаж в Киеве
            .row
              .col-4
                +inputText('text', 'phoneKiev', 'Номер телефона')
              .col-4
                +inputText('text', 'addressKiev', 'Адрес')
              .col-4
                +inputText('text', 'mailKiev', 'Почта')

dist/contacts.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Contacts</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="contacts-page">
      <form class="container main-form">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="page-title-row">
              <h1 class="page-title">Контакты</h1>
              <div class="btn-wrap">
                <button class="btn btn-primary" type="submit">Изменить</button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="inputs">
              <div class="inputs__title-wrap">
                <h2 class="inputs__title">Общие контакты</h2>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="headerNumber"
                      name="headerNumber"
                      placeholder="Номер телефона в шапке"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="facebook"
                      name="facebook"
                      placeholder="Facebook"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="instagram"
                      name="instagram"
                      placeholder="Instagram"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="inputs">
              <div class="inputs__title-wrap">
                <h2 class="inputs__title">Офис продаж в Одессе</h2>
              </div>
              <div class="row">
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="phoneOdesa-1"
                      name="phoneOdesa-1"
                      placeholder="Номер телефона 1"
                    />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="addressOdesa-1"
                      name="addressOdesa-1"
                      placeholder="Адрес 1"
                    />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="phoneOdesa-2"
                      name="phoneOdesa-2"
                      placeholder="Номер телефона 2"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="addressOdesa-2"
                      name="addressOdesa-2"
                      placeholder="Адрес 2"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="mailOdesa"
                      name="mailOdesa"
                      placeholder="Почта"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="inputs">
              <div class="inputs__title-wrap">
                <h2 class="inputs__title">Офис продаж в Киеве</h2>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="phoneKiev"
                      name="phoneKiev"
                      placeholder="Номер телефона"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="addressKiev"
                      name="addressKiev"
                      placeholder="Адрес"
                    />
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="text"
                      id="mailKiev"
                      name="mailKiev"
                      placeholder="Почта"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>
