dist/feedback.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Feedback</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="feedback-page">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="page-title-row">
              <h1 class="page-title">Отзывы</h1>
              <div class="btn-wrap">
                <a class="btn btn-outline-primary" href="/feedback-create.html"
                  >Создать отзыв</a
                >
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-wrap">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><p>Фото</p></th>
                    <th scope="col">
                      <div class="form-group">
                        <img
                          src="img/icons/SearchIcon.svg"
                          alt="Search"
                        /><input
                          class="form-control"
                          type="text"
                          name="search-name"
                          placeholder="Имя фамилия"
                        />
                      </div>
                    </th>
                    <th class="feedback-th" scope="col">
                      <div class="form-group">
                        <img
                          src="img/icons/SearchIcon.svg"
                          alt="Search"
                        /><input
                          class="form-control"
                          type="text"
                          name="search-sub-name"
                          placeholder="Отзыв"
                        />
                      </div>
                    </th>
                    <th scope="col">
                      <div class="form-group">
                        <img
                          src="img/icons/SearchIcon.svg"
                          alt="Search"
                        /><input
                          class="form-control"
                          type="text"
                          name="search-description"
                          placeholder="Видео"
                        />
                      </div>
                    </th>
                    <th scope="col"><p>Действие</p></th>
                  </tr>
                </thead>
                <tbody class="feedback-tbody">
                  <tr>
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image feedback-image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td>
                      <div class="table__text"><p>Max Singleton</p></div>
                    </td>
                    <td>
                      <div class="table__text feedback-text">
                        <p>
                          Хотели купить дом, знакомые рассказали о Дайберге.
                          Сначала было непонятно,что такое таунхаусы и дуплексы,
                          почему такая стоимость и что мы покупаем за такие
                          деньги, а главное почему это, а не купить землю под
                          дом. Сейчас мы закончили ремонт и переехали. Ни на
                          секунду не пожалела. Детки любят парк и мы спокойно
                          отпускаем их самих играться. Довольны и всем
                          советуем!)
                        </p>
                      </div>
                    </td>
                    <td class="video-td">
                      <div class="table__text">
                        <button
                          class="video-td_btn"
                          data-toggle="modal"
                          data-target="#videoModal"
                          data-modal-video=""
                        >
                          Открыть
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              Редактировать</button
                            ><button class="dropdown-item" type="button">
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image feedback-image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td>
                      <div class="table__text"><p>Max Singleton</p></div>
                    </td>
                    <td>
                      <div class="table__text feedback-text">
                        <p>
                          Хотели купить дом, знакомые рассказали о Дайберге.
                          Сначала было непонятно,что такое таунхаусы и дуплексы,
                          почему такая стоимость и что мы покупаем за такие
                          деньги, а главное почему это, а не купить землю под
                          дом. Сейчас мы закончили ремонт и переехали. Ни на
                          секунду не пожалела. Детки любят парк и мы спокойно
                          отпускаем их самих играться. Довольны и всем
                          советуем!)
                        </p>
                      </div>
                    </td>
                    <td class="video-td">
                      <div class="table__text">
                        <button
                          class="video-td_btn"
                          data-toggle="modal"
                          data-target="#videoModal"
                          data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8"
                        >
                          Открыть
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              Редактировать</button
                            ><button class="dropdown-item" type="button">
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image feedback-image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td>
                      <div class="table__text"><p>Max Singleton</p></div>
                    </td>
                    <td>
                      <div class="table__text feedback-text">
                        <p>
                          Хотели купить дом, знакомые рассказали о Дайберге.
                          Сначала было непонятно,что такое таунхаусы и дуплексы,
                          почему такая стоимость и что мы покупаем за такие
                          деньги, а главное почему это, а не купить землю под
                          дом. Сейчас мы закончили ремонт и переехали. Ни на
                          секунду не пожалела. Детки любят парк и мы спокойно
                          отпускаем их самих играться. Довольны и всем
                          советуем!)
                        </p>
                      </div>
                    </td>
                    <td class="video-td">
                      <div class="table__text">
                        <button
                          class="video-td_btn"
                          data-toggle="modal"
                          data-target="#videoModal"
                          data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8"
                        >
                          Открыть
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              Редактировать</button
                            ><button class="dropdown-item" type="button">
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image feedback-image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td>
                      <div class="table__text"><p>Max Singleton</p></div>
                    </td>
                    <td>
                      <div class="table__text feedback-text">
                        <p>
                          Хотели купить дом, знакомые рассказали о Дайберге.
                          Сначала было непонятно,что такое таунхаусы и дуплексы,
                          почему такая стоимость и что мы покупаем за такие
                          деньги, а главное почему это, а не купить землю под
                          дом. Сейчас мы закончили ремонт и переехали. Ни на
                          секунду не пожалела. Детки любят парк и мы спокойно
                          отпускаем их самих играться. Довольны и всем
                          советуем!)
                        </p>
                      </div>
                    </td>
                    <td class="video-td">
                      <div class="table__text">
                        <button
                          class="video-td_btn"
                          data-toggle="modal"
                          data-target="#videoModal"
                          data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8"
                        >
                          Открыть
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              Редактировать</button
                            ><button class="dropdown-item" type="button">
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image feedback-image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td>
                      <div class="table__text"><p>Max Singleton</p></div>
                    </td>
                    <td>
                      <div class="table__text feedback-text">
                        <p>
                          Хотели купить дом, знакомые рассказали о Дайберге.
                          Сначала было непонятно,что такое таунхаусы и дуплексы,
                          почему такая стоимость и что мы покупаем за такие
                          деньги, а главное почему это, а не купить землю под
                          дом. Сейчас мы закончили ремонт и переехали. Ни на
                          секунду не пожалела. Детки любят парк и мы спокойно
                          отпускаем их самих играться. Довольны и всем
                          советуем!)
                        </p>
                      </div>
                    </td>
                    <td class="video-td">
                      <div class="table__text">
                        <button
                          class="video-td_btn"
                          data-toggle="modal"
                          data-target="#videoModal"
                          data-modal-video="https://www.youtube.com/embed/PbhtOTu0Dn8"
                        >
                          Открыть
                        </button>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">
                              Редактировать</button
                            ><button class="dropdown-item" type="button">
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer">
              <div class="table-footer__page-count">
                <p>1</p>
                <p>из</p>
                <p>50</p>
              </div>
              <div class="table-footer__nav-wrap">
                <a
                  class="table-footer__arrow table-footer__arrow_prev"
                  href="/feedback.html"
                  ><img src="img/icons/FooterArrow.svg" alt="Arrow"/></a
                ><a
                  class="table-footer__arrow table-footer__arrow_next"
                  href="/feedback.html"
                  ><img src="img/icons/FooterArrow.svg" alt="Arrow"
                /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      class="modal photo-modal fade"
      id="videoModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close-btn"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span></span><span></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-video"><div class="embed-responsive"></div></div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>

src/pages/feedback.pug
extends includes/layout

block vars
  - const title = 'Admin | Feedback'

append content
  main#feedback-page
    .container
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Отзывы
            .btn-wrap
              a.btn.btn-outline-primary(href="/feedback-create.html") Создать отзыв
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                  th(scope="col")
                    p Фото
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Имя фамилия")
                  th(scope="col").feedback-th
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-sub-name" placeholder="Отзыв")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-description" placeholder="Видео")
                  th(scope="col")
                    p Действие
              tbody.feedback-tbody
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить

                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/RJFab-bqxE8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image.feedback-image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td
                    .table__text
                      p Max Singleton
                  td
                    .table__text.feedback-text
                      p Хотели купить дом, знакомые рассказали о Дайберге. Сначала было непонятно,что такое таунхаусы и дуплексы, почему такая стоимость и что мы покупаем за такие деньги, а главное почему это, а не купить землю под дом. Сейчас мы закончили ремонт и переехали. Ни на секунду не пожалела. Детки любят парк и мы спокойно отпускаем их самих играться. Довольны и всем советуем!)
                  td.video-td
                    .table__text
                      button.video-td_btn(data-toggle="modal" data-target="#videoModal" data-modal-video="https://www.youtube.com/embed/PbhtOTu0Dn8") Открыть
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item(type="button") Редактировать
                          button.dropdown-item(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
          .table-footer
            .table-footer__page-count
              p 1
              p из
              p 50
            .table-footer__nav-wrap
              a.table-footer__arrow.table-footer__arrow_prev(href="/feedback.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
              a.table-footer__arrow.table-footer__arrow_next(href="/feedback.html")
                img(src="img/icons/FooterArrow.svg" alt="Arrow")
  include includes/videoModal
