src/pages/menu.pug
extends includes/layout


block vars
    - const title = 'Admin | Menu'

append content
    main#menu-page
        .container
            .row.mb-5
                .col-12
                    .menu-page_title Меню
            .row.mb-4.menu-objects_wrapper
                .col-12
                    .row
                        .col-12
                            .row
                                .col-6.d-flex.align-items-center
                                    img.svg.menu-drag_item.hide_drag(src="img/icons/dragIcon.svg")
                                    .menu-item Объекты
                                .col-4
                                    .menu-item_path /objects
            .row
                .col-12.menu-wrapper
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item О компании
                        .col-4
                            .menu-item_path /about
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Строительство
                        .col-4
                            .menu-item_path /building
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Ремонт
                        .col-4
                            .menu-item_path /renovation
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)
                    .row.mb-4
                        .col-6.d-flex.align-items-center
                            img.svg.menu-drag_item.drag-icon(src="img/icons/dragIcon.svg")
                            .menu-item Контакты
                        .col-4
                            .menu-item_path /contacts
                        .col-2.d-flex.align-items-center
                            .menu-item_switcher
                                label Включён
                                input.create-object_switch2.menu-switcher(type="checkbox" checked)

dist/menu.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Menu</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="menu-page">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12"><div class="menu-page_title">Меню</div></div>
        </div>
        <div class="row mb-4 menu-objects_wrapper">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="svg menu-drag_item hide_drag"
                      src="img/icons/dragIcon.svg"
                    />
                    <div class="menu-item">Объекты</div>
                  </div>
                  <div class="col-4">
                    <div class="menu-item_path">/objects</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 menu-wrapper">
            <div class="row mb-4">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="svg menu-drag_item drag-icon"
                  src="img/icons/dragIcon.svg"
                />
                <div class="menu-item">О компании</div>
              </div>
              <div class="col-4"><div class="menu-item_path">/about</div></div>
              <div class="col-2 d-flex align-items-center">
                <div class="menu-item_switcher">
                  <label>Включён</label
                  ><input
                    class="create-object_switch2 menu-switcher"
                    type="checkbox"
                    checked
                  />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="svg menu-drag_item drag-icon"
                  src="img/icons/dragIcon.svg"
                />
                <div class="menu-item">Строительство</div>
              </div>
              <div class="col-4">
                <div class="menu-item_path">/building</div>
              </div>
              <div class="col-2 d-flex align-items-center">
                <div class="menu-item_switcher">
                  <label>Включён</label
                  ><input
                    class="create-object_switch2 menu-switcher"
                    type="checkbox"
                    checked
                  />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="svg menu-drag_item drag-icon"
                  src="img/icons/dragIcon.svg"
                />
                <div class="menu-item">Ремонт</div>
              </div>
              <div class="col-4">
                <div class="menu-item_path">/renovation</div>
              </div>
              <div class="col-2 d-flex align-items-center">
                <div class="menu-item_switcher">
                  <label>Включён</label
                  ><input
                    class="create-object_switch2 menu-switcher"
                    type="checkbox"
                    checked
                  />
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="svg menu-drag_item drag-icon"
                  src="img/icons/dragIcon.svg"
                />
                <div class="menu-item">Контакты</div>
              </div>
              <div class="col-4">
                <div class="menu-item_path">/contacts</div>
              </div>
              <div class="col-2 d-flex align-items-center">
                <div class="menu-item_switcher">
                  <label>Включён</label
                  ><input
                    class="create-object_switch2 menu-switcher"
                    type="checkbox"
                    checked
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>
