src/pages/objects.pug
extends includes/layout

block vars
  - const title = 'Admin | Objects'

append content
  main#projects-page
    .container
      .row
        .col-12.mb-5
          .page-title-row
            h1.page-title Объекты
            .btn-wrap
              a.btn.btn-outline-primary(href="/object-create-about.html") Создать объект
        .col-12
          .table-wrap
            table.table
              thead
                tr
                  th(scope="col")
                  th(scope="col")
                    p Фото
                  th.thead-title_text(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="search-name" placeholder="Заголовок")
                  th(scope="col")
                    .form-group
                      img(src="img/icons/SearchIcon.svg" alt="Search")
                      input.form-control(type="text" name="description" placeholder="Краткое описание")
                  th.thead-action_text(scope="col")
                    p Действие
              tbody.objects-tbody
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайбеsadsasaрг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
                tr.tbody-row
                  td.drag-icon_col
                    img.svg.drag-icon(src="img/icons/dragIcon.svg")
                  td.table-img_col
                    .table__image
                      img(src="img/DefaultImage.png" alt="Photo")
                  td.table-title_col
                    .table__text
                      p ЖМ «Дайберг»
                  td
                    .table__text
                      p
                        | There are several ways people can make money online. From selling products to advertising.
                        | This article I am going to explain the concept of contextual advertising.
                  td
                    .table__actions
                      .table__dropdown.dropdown
                        button.btn.dropdown-toggle.dropdown-btn(type="button" data-toggle="dropdown")
                          img(src="img/icons/ActionIcon.svg" alt="Actions")
                        .dropdown-menu
                          button.dropdown-item.edit(type="button") Редактировать
                          button.dropdown-item.disable(type="button") Отключить
                          button.dropdown-item.delete(type="button") Удалить
      .row.pt-3.pb-3
        .col-12
          .objects-logo_wrap
            img.svg.objects-logo(src='img/logo_micore.svg')

dist/objects.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Objects</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="projects-page">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="page-title-row">
              <h1 class="page-title">Объекты</h1>
              <div class="btn-wrap">
                <a
                  class="btn btn-outline-primary"
                  href="/object-create-about.html"
                  >Создать объект</a
                >
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-wrap">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"><p>Фото</p></th>
                    <th class="thead-title_text" scope="col">
                      <div class="form-group">
                        <img
                          src="img/icons/SearchIcon.svg"
                          alt="Search"
                        /><input
                          class="form-control"
                          type="text"
                          name="search-name"
                          placeholder="Заголовок"
                        />
                      </div>
                    </th>
                    <th scope="col">
                      <div class="form-group">
                        <img
                          src="img/icons/SearchIcon.svg"
                          alt="Search"
                        /><input
                          class="form-control"
                          type="text"
                          name="description"
                          placeholder="Краткое описание"
                        />
                      </div>
                    </th>
                    <th class="thead-action_text" scope="col">
                      <p>Действие</p>
                    </th>
                  </tr>
                </thead>
                <tbody class="objects-tbody">
                  <tr class="tbody-row">
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td class="table-title_col">
                      <div class="table__text"><p>ЖМ «Дайбеsadsasaрг»</p></div>
                    </td>
                    <td>
                      <div class="table__text">
                        <p>
                          There are several ways people can make money online.
                          From selling products to advertising. This article I
                          am going to explain the concept of contextual
                          advertising.
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item edit" type="button">
                              Редактировать</button
                            ><button
                              class="dropdown-item disable"
                              type="button"
                            >
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="tbody-row">
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td class="table-title_col">
                      <div class="table__text"><p>ЖМ «Дайберг»</p></div>
                    </td>
                    <td>
                      <div class="table__text">
                        <p>
                          There are several ways people can make money online.
                          From selling products to advertising. This article I
                          am going to explain the concept of contextual
                          advertising.
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item edit" type="button">
                              Редактировать</button
                            ><button
                              class="dropdown-item disable"
                              type="button"
                            >
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="tbody-row">
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td class="table-title_col">
                      <div class="table__text"><p>ЖМ «Дайберг»</p></div>
                    </td>
                    <td>
                      <div class="table__text">
                        <p>
                          There are several ways people can make money online.
                          From selling products to advertising. This article I
                          am going to explain the concept of contextual
                          advertising.
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item edit" type="button">
                              Редактировать</button
                            ><button
                              class="dropdown-item disable"
                              type="button"
                            >
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="tbody-row">
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td class="table-title_col">
                      <div class="table__text"><p>ЖМ «Дайберг»</p></div>
                    </td>
                    <td>
                      <div class="table__text">
                        <p>
                          There are several ways people can make money online.
                          From selling products to advertising. This article I
                          am going to explain the concept of contextual
                          advertising.
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item edit" type="button">
                              Редактировать</button
                            ><button
                              class="dropdown-item disable"
                              type="button"
                            >
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="tbody-row">
                    <td class="drag-icon_col">
                      <img class="svg drag-icon" src="img/icons/dragIcon.svg" />
                    </td>
                    <td class="table-img_col">
                      <div class="table__image">
                        <img src="img/DefaultImage.png" alt="Photo" />
                      </div>
                    </td>
                    <td class="table-title_col">
                      <div class="table__text"><p>ЖМ «Дайберг»</p></div>
                    </td>
                    <td>
                      <div class="table__text">
                        <p>
                          There are several ways people can make money online.
                          From selling products to advertising. This article I
                          am going to explain the concept of contextual
                          advertising.
                        </p>
                      </div>
                    </td>
                    <td>
                      <div class="table__actions">
                        <div class="table__dropdown dropdown">
                          <button
                            class="btn dropdown-toggle dropdown-btn"
                            type="button"
                            data-toggle="dropdown"
                          >
                            <img src="img/icons/ActionIcon.svg" alt="Actions" />
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item edit" type="button">
                              Редактировать</button
                            ><button
                              class="dropdown-item disable"
                              type="button"
                            >
                              Отключить</button
                            ><button class="dropdown-item delete" type="button">
                              Удалить
                            </button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row pt-3 pb-3">
          <div class="col-12">
            <div class="objects-logo_wrap">
              <img class="svg objects-logo" src="img/logo_micore.svg" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>
