dist/object-create-about.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Object create</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="object-create-about">
      <form class="container main-form object-create_container">
        <div class="row main-form_head">
          <div class="col-12">
            <div class="page-title-row">
              <h1 class="page-title">Создание объекта</h1>
              <div class="btn-wrap">
                <button class="btn btn-primary" type="submit">
                  Сохранить изменения
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row create-object_switches-wrapper">
          <div class="col-12 d-flex justify-content-between">
            <div class="create-object_switch-wrap">
              <a
                class="create-object_switch"
                id="create-object_switch-about"
                href="/object-create-about.html"
                >О комплексе</a
              ><a
                class="create-object_switch"
                id="create-object_switch-objects"
                href="/object-create-objects.html"
                >Объекты</a
              ><a
                class="create-object_switch"
                id="create-object_switch-status"
                href="/object-building-status.html"
                >Статус строительства</a
              ><a
                class="create-object_switch"
                id="create-object_switch-gallery"
                href="/object-create-gallery.html"
                >Галерея</a
              >
            </div>
            <div class="create-object_switches2-wrap">
              <div class="create-object_switch2-wrap">
                <label>На главной</label
                ><input class="create-object_switch2" type="checkbox" checked />
              </div>
              <div class="create-object_switch2-wrap">
                <label>Включён</label
                ><input class="create-object_switch2" type="checkbox" checked />
              </div>
            </div>
          </div>
        </div>
        <div class="row create-object_about" data-id="switch-about">
          <div class="col-12">
            <div class="row tab-about_head">
              <div class="col-6">
                <div class="form-group add-file create-slide">
                  <div class="inputs-photo_action">
                    <div class="hint-icons"></div>
                    <button
                      class="action-btn view"
                      data-toggle="modal"
                      data-target="#photo-modal"
                      data-src="img/DefaultImage.png"
                    >
                      <img
                        class="icon-action"
                        src="img/icons/ViewIcon.svg"
                        alt="View"
                      /></button
                    ><label class="add-icon edit"
                      ><div class="add-icon_plus">
                        <span></span><span></span>
                      </div>
                      <input
                        class="form-control-file input-preview_file"
                        type="file"
                        accept="image/*"
                        data-img-size="big"/></label
                    ><button class="action-btn delete" data-action="delete">
                      <img
                        class="icon-action"
                        src="img/icons/DeleteIcon.svg"
                        alt="Delete"
                      /></button
                    ><span class="input-preview_hint"
                      >Рекомендуемый формат: jpg, 2880х1536, оптимизированный
                      через сервис tinypng.com (при использовании другого
                      формата дизайн сайта может отличаться от задумки
                      дизайнера)
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="create-object_map-wrap"></div>
              </div>
            </div>
            <div class="row create-object_inputs">
              <div class="col-6 pb-4">
                <input
                  class="form-control create-slide_input-name"
                  type="text"
                  name="name"
                  placeholder="Название"
                />
              </div>
              <div class="col-6 pb-4">
                <input
                  class="form-control create-slide_input-subtitle"
                  type="text"
                  name="postscript"
                  placeholder="Приписка"
                />
              </div>
              <div class="col-6 pb-4">
                <input
                  class="form-control create-slide_input-additional"
                  type="text"
                  name="address"
                  placeholder="Адрес"
                />
              </div>
              <div class="col-6 pb-4">
                <input
                  class="form-control create-slide_input-link"
                  type="text"
                  name="link"
                  placeholder="Ссылка"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <textarea
                  class="form-control create-slide_textarea"
                  placeholder="Описание"
                  name="description"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <div
      class="modal photo-modal fade"
      id="photo-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close-btn"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span></span><span></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-photo-image">
              <img src="img/DefaultImage.png" alt="Modal photo" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>

src/pages/object-create-about.pug
extends includes/layout
include mixins/photoModal
include mixins/add-photo
block vars
  - const title = 'Admin | Object create'
  - const hint = 'Рекомендуемый формат: jpg, 2880х1536, оптимизированный через сервис tinypng.com (при использовании другого формата дизайн сайта может отличаться от задумки дизайнера) '
append content
  main#object-create-about
    form.container.main-form.object-create_container
      include create-object-includes/header

      .row.create-object_about(data-id="switch-about")
        .col-12
          .row.tab-about_head
            .col-6
              +hintText(hint)
            .col-6
              .create-object_map-wrap
          .row.create-object_inputs
            .col-6.pb-4
              input.form-control.create-slide_input-name(type="text" name="name" placeholder="Название")
            .col-6.pb-4
              input.form-control.create-slide_input-subtitle(type="text" name="postscript" placeholder="Приписка")
            .col-6.pb-4
              input.form-control.create-slide_input-additional(type="text" name="address" placeholder="Адрес")
            .col-6.pb-4
              input.form-control.create-slide_input-link(type="text" name="link" placeholder="Ссылка")
          .row
            .col-12
              textarea.form-control.create-slide_textarea(placeholder="Описание" name="description")



append footer_content
  +photoModal('photo-modal')
