src/pages/seo.pug
extends includes/layout


block vars
    - const title = 'Admin | SEO'


append content
    main#seo-page
        form.container.main-form(action="/")
            include seo-includes/seo-header
            .row.mb-5
                .col-12.mb-3
                    .seo-section_title Главная
                .col-12.mb-4
                    .row
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainTitle" placeholder="Title")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainDescription" placeholder="Description")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="mainKeywords" placeholder="Keywords")
                .col-12
                    textarea.form-control.seo-section_textarea(name="mainHeadCode" placeholder="Код в раздел head")
            .row
                .col-12.mb-3
                    .seo-section_title О компании
                .col-12.mb-4
                    .row
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutTitle" placeholder="Title")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutDescription" placeholder="Description")
                        .col-4
                            input.form-control.seo-section_input-title(type="text" name="aboutKeywords" placeholder="Keywords")
                .col-12
                    textarea.form-control.seo-section_textarea(name="aboutHeadCode" placeholder="Код в раздел head")

dist/seo.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | SEO</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="seo-page">
      <form class="container main-form" action="/">
        <div class="row mb-5">
          <div class="col-12 d-flex justify-content-between">
            <h1 class="page-title">SEO</h1>
            <div class="btn-wrap">
              <button class="btn btn-primary" type="submit">
                Сохранить изменения
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <div class="seo-menu">
              <a class="seo-menu_item" id="seo-sections" href="/seo.html"
                >Разделы</a
              ><a class="seo-menu_item" id="seo-sitemap" href="/seo-robot.html"
                >Robot и sitemap</a
              ><a class="seo-menu_item" id="seo-head" href="/seo-head.html"
                >Head</a
              >
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 mb-3">
            <div class="seo-section_title">Главная</div>
          </div>
          <div class="col-12 mb-4">
            <div class="row">
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="mainTitle"
                  placeholder="Title"
                />
              </div>
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="mainDescription"
                  placeholder="Description"
                />
              </div>
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="mainKeywords"
                  placeholder="Keywords"
                />
              </div>
            </div>
          </div>
          <div class="col-12">
            <textarea
              class="form-control seo-section_textarea"
              name="mainHeadCode"
              placeholder="Код в раздел head"
            ></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="seo-section_title">О компании</div>
          </div>
          <div class="col-12 mb-4">
            <div class="row">
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="aboutTitle"
                  placeholder="Title"
                />
              </div>
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="aboutDescription"
                  placeholder="Description"
                />
              </div>
              <div class="col-4">
                <input
                  class="form-control seo-section_input-title"
                  type="text"
                  name="aboutKeywords"
                  placeholder="Keywords"
                />
              </div>
            </div>
          </div>
          <div class="col-12">
            <textarea
              class="form-control seo-section_textarea"
              name="aboutHeadCode"
              placeholder="Код в раздел head"
            ></textarea>
          </div>
        </div>
      </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>
