dist/texts.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Texts</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="texts-page">
      <form class="container main-form" action="/">
        <div class="row mb-5">
          <div class="col-12">
            <div class="page-title-row">
              <h1 class="page-title">Тексты</h1>
              <div class="btn-wrap">
                <button class="btn btn-primary" type="submit">
                  Сохранить изменения
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <div class="texts-menu">
              <a class="texts-menu_item" id="texts-menu_main" href="/texts.html"
                >Главная</a
              ><a
                class="texts-menu_item"
                id="texts-menu_about"
                href="/texts-about.html"
                >О компании</a
              ><a
                class="texts-menu_item"
                id="texts-menu_building"
                href="/texts-building.html"
                >Строительство</a
              ><a
                class="texts-menu_item"
                id="texts-menu_renovation"
                href="/texts-renovation.html"
                >Ремонт</a
              ><a
                class="texts-menu_item"
                id="texts-menu_feedback-form"
                href="/texts-feedback.html"
                >Форма обратной</a
              >
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="headInfo1"
                  value="Построенно"
                />
              </div>
              <div class="col-12">
                <input
                  class="form-control"
                  value="6 ЖК"
                  name="headDescription1"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="headInfo2"
                  value="Жильцов"
                />
              </div>
              <div class="col-12">
                <input
                  class="form-control"
                  value="2500〜"
                  name="headDescription2"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="headInfo3"
                  value="Строим"
                />
              </div>
              <div class="col-12">
                <input
                  class="form-control"
                  value="8 лет"
                  name="headDescription3"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="sect2Subtitle"
              value="Спросите себя:"
            />
          </div>
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="sect2Title"
              value="В каком доме вы хотите жить?"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="sect2CardTitle"
                  value="Лучшие соседи живут в наших ЖК!"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control texts-textarea"
                  name="sect2CardDescription"
                >
Жизнь в наших комплексах выбирают позитивные люди, которых объединяют общие интересы или вид деятельности.</textarea
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="sect2CardTitle2"
                  value="Безопасность для всей семьи!"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control texts-textarea"
                  name="sect2CardDescription2"
                >
Нас выбирают моряки, потому что им не страшно уехать в рейс оставив дом и семью.</textarea
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-5">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="sect2CardTitle3"
                  value="Гарантия от застройщика"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control texts-textarea"
                  name="sect2CardDescription3"
                >
Никита Лукьянчук присутствует на каждой сделке и дает свои личные гарантии, так же Никита является жителем ЖМ «Дайберг»</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="sect3Subtitle"
              value="Пора выбирать Свой Дом"
            />
          </div>
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="sect3Title"
              value="О компании"
            />
          </div>
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="sect3text"
              value="«Приедь, посмотри конкурентов и вернись к нам с чистой совестью»"
            />
          </div>
          <div class="col-12 mt-4">
            <textarea
              class="form-control texts-textarea texts-textarea2"
              placeholder="Описание"
              name="sect3Description"
            >
Никита Лукьянчук – принципиальный бизнесмен. В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта. Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов современного вида недвижимости. Жилые комплексы от застройщика «Свой Дом» символизируют высокое качество, частность и безопасность каждой семьи. Качество каждого этапа строительства высоко оценивается. Чтобы убедиться в этом – приезжайте в «Свой Дом» в любое удобное для Вас время.</textarea
            >
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint">default</span>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="sect3PhotoText"
                  value="Жизнь по соседству с застройщиком"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control texts-textarea texts-textarea3"
                  name="sect3Speech"
                >
«У нас большие планы на жизнь. И на парк.» (с) Никита Лукьянчук</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="servicesTitle"
              value="Услуги"
            />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint">default</span>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12 mb-3">
                <input
                  class="form-control"
                  type="text"
                  name="buildingTitle"
                  value="Строительство"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control texts-textarea texts-textarea3"
                  name="description"
                >
Строительство дома под ключ от компании «Свой Дом» это прежде всего: - Производство полного цикла строительства(от создания проекта дома до его введения в эксплуатацию) - Юридическое и техническое сопровождение - Соблюдение ДБН и ДСТУ - Заключение договора подряда на строительство - Выполнение работ согласно срокам указанным в договоре</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="renovationPrices"
              value="Цены на ремонт"
            />
          </div>
          <div class="col-6">
            <input
              class="form-control"
              type="text"
              name="pricesDescription"
              value="Компания «Свой Дом» предоставляет услуги ремонта в виде трех ценовых пакетов на Ваш выбор"
            />
          </div>
        </div>
      </form>
    </main>
    <div
      class="modal photo-modal fade"
      id="photo-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              class="close-btn"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span></span><span></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-photo-image">
              <img src="img/DefaultImage.png" alt="Modal photo" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>

src/pages/texts.pug
extends includes/layout
include mixins/add-photo
include mixins/photoModal

block vars
  - const title = 'Admin | Texts'
  - const hint = 'default'

append content
  main#texts-page
    form.container.main-form(action="/")
      .row.mb-5
        .col-12
          .page-title-row
            h1.page-title Тексты
            .btn-wrap
              button.btn.btn-primary(type="submit") Сохранить изменения
      include texts-includes/header
      .row.mb-3
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo1" value="Построенно")
            .col-12
              input.form-control(value="6 ЖК" name="headDescription1")
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo2" value="Жильцов")
            .col-12
              input.form-control(value="2500〜" name="headDescription2")
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="headInfo3" value="Строим" )
            .col-12
              input.form-control(value="8 лет" name="headDescription3")
      .row.mb-5
        .col-6
          input.form-control(type="text" name="sect2Subtitle" value="Спросите себя:")
        .col-6
          input.form-control(type="text" name="sect2Title" value="В каком доме вы хотите жить?")
      .row.mb-3
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle" value="Лучшие соседи живут в наших ЖК!")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription") Жизнь в наших комплексах выбирают позитивные люди, которых объединяют общие интересы или вид деятельности.

        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle2" value="Безопасность для всей семьи!")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription2") Нас выбирают моряки, потому что им не страшно уехать в рейс оставив дом и семью.
        .col-4
          .row.mb-5
            .col-12.mb-3
              input.form-control(type="text" name="sect2CardTitle3" value="Гарантия от застройщика")
            .col-12
              textarea.form-control.texts-textarea( name="sect2CardDescription3") Никита Лукьянчук присутствует на каждой сделке и дает свои личные гарантии, так же Никита является жителем ЖМ «Дайберг»
      .row.mb-5
        .col-4
          input.form-control(type="text" name="sect3Subtitle" value="Пора выбирать Свой Дом")
        .col-4
          input.form-control(type="text" name="sect3Title" value="О компании")
        .col-4
          input.form-control(type="text" name="sect3text" value="«Приедь, посмотри конкурентов и вернись к нам с чистой совестью»")
        .col-12.mt-4
          textarea.form-control.texts-textarea.texts-textarea2(placeholder="Описание" name="sect3Description") Никита Лукьянчук – принципиальный бизнесмен. В 2012 году основал строительную компанию «Свой Дом». Никита первый, кто вывел дуплексы и таухаусы в отдельный сегмент рынка недвижимости города Одессы. Новый формат недвижимости успешно закрепился после сдачи первого объекта. Теперь с каждым годом все больше людей отказываются от жизни в многоэтажных домах в пользу малоквартирных клубных домов, таунхаусов и дуплексов от застройщика «Свой Дом». На период 2020 года сдано в эксплуатацию более 300 объектов современного вида недвижимости. Жилые комплексы от застройщика «Свой Дом» символизируют высокое качество, частность и безопасность каждой семьи. Качество каждого этапа строительства высоко оценивается. Чтобы убедиться в этом – приезжайте в «Свой Дом» в любое удобное для Вас время.
      .row.mb-4
        .col-3
          +hintText(hint)
        .col-9
          .row
            .col-12.mb-3
              input.form-control(type="text" name="sect3PhotoText" value="Жизнь по соседству с застройщиком")
            .col-12
              textarea.form-control.texts-textarea.texts-textarea3( name="sect3Speech") «У нас большие планы на жизнь. И на парк.» (с) Никита Лукьянчук
      .row.mb-4
        .col-6
          input.form-control(type="text" name="servicesTitle" value="Услуги")
      .row.mb-4
        .col-3
          +hintText(hint)
        .col-9
          .row
            .col-12.mb-3
              input.form-control(type="text" name="buildingTitle" value="Строительство")
            .col-12
              textarea.form-control.texts-textarea.texts-textarea3( name="description") Строительство дома под ключ от компании «Свой Дом» это прежде всего: - Производство полного цикла строительства(от создания проекта дома до его введения в эксплуатацию) - Юридическое и техническое сопровождение - Соблюдение ДБН и ДСТУ - Заключение договора подряда на строительство - Выполнение работ согласно срокам указанным в договоре
      .row
        .col-6
          input.form-control(type="text" name="renovationPrices" value="Цены на ремонт")
        .col-6
          input.form-control(type="text" name="pricesDescription" value="Компания «Свой Дом» предоставляет услуги ремонта в виде трех ценовых пакетов на Ваш выбор")


  +photoModal('photo-modal')
