src/pages/texts-building.pug
extends includes/layout
include mixins/add-photo
include mixins/photoModal

block vars
    - const title = 'Admin | Texts'
    - const hint = 'default'

append content
    main#texts-building
        form.container.main-form(action="/")
            .row.mb-5
                .col-12
                    .page-title-row
                        h1.page-title Тексты
                        .btn-wrap
                            button.btn.btn-primary(type="submit") Сохранить изменения
            include texts-includes/header
            .row.mb-4
                .col-4
                    input.form-control(type="text" name="mainSubtitle" value="В Одессе")
                .col-4
                    input.form-control(type="text" name="mainTitle" value="Строительство")
                .col-4
                    input.form-control(type="text" name="mainDescription" value="От 145$/м2")
            .row.mb-4.building-cards
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
                .col-4
                    +hintText('Рекомендуемый формат фото - svg')
                    input.form-control.mt-3.mb-3(type="text" name="cardTitle" value="Качественные материалы")
                    textarea.form-control.card-textarea(name="cardDescription") If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.
            .row.mb-4
                .col-3
                    +hintText('')
                .col-9
                    .row
                        .col-12
                            input.form-control.mt-3.mb-3(type="text" name="" value="Подробнее")
                            textarea.form-control.card-textarea(name="") If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.
            .row.mb-4
                .col-3
                    +hintText('')
                .col-9
                    .row
                        .col-12
                            input.form-control.mt-3.mb-3(type="text" name="" value="Ещё подробнее")
                            textarea.form-control.card-textarea(name="") If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.
            .row
                .col-12
                    .row
                        .col-6.mb-4
                            input.form-control(type="text" name="statisticTitle" value="О нас в цифрах")
                    .row
                        .col-4.mb-4
                            input.form-control.mb-3(type="text" name="count1" value="16")
                            input.form-control(type="text" name="item1" value="Жилых комплексов")
                        .col-4.mb-4
                            input.form-control.mb-3(type="text" name="count2" value="1500")
                            input.form-control(type="text" name="item2" value="Продано квартир/домов")
                        .col-4.mb-4
                            input.form-control.mb-3(type="text" name="count3" value="15")
                            input.form-control(type="text" name="item3" value="Сотрудников в компании")
                        .col-4.mb-4
                            input.form-control.mb-3(type="text" name="count4" value="15")
                            input.form-control(type="text" name="item4" value="Лет работы")
                        .col-4.mb-4
                            input.form-control.mb-3(type="text" name="count5" value="15")
                            input.form-control(type="text" name="item5" value="Лет работы")
            .row
                .col-12.mb-3
                    .row
                        .col-6
                            input.form-control(type="text" name="stepsTitle" value="Этапы строительства")
                .col-4
                    .row
                        .col-12
                            input.form-control.mb-3(type="text" name="item5" value="Название этапа")
                        .col-12
                            textarea.form-control.card-textarea( name="item5") Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you
                .col-4
                    .row
                        .col-12
                            input.form-control.mb-3(type="text" name="item5" value="Название этапа")
                        .col-12
                            textarea.form-control.card-textarea( name="item5") Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you
                .col-4
                    .row
                        .col-12
                            input.form-control.mb-3(type="text" name="item5" value="Название этапа")
                        .col-12
                            textarea.form-control.card-textarea( name="item5") Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you

dist/texts-building.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"
    />
    <link
      rel="stylesheet"
      href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/sunny/jquery-ui.css"
    />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Admin | Texts</title>
    <link href="css/style.bundle.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <div class="header__logo"><img src="img/logo.svg" alt="Logo" /></div>
        <div class="header__links-wrap">
          <ul class="header__links-list">
            <li class="header__link-item">
              <a class="header__link" href="/objects.html"
                ><img src="img/icons/ProjectsIcon.svg" alt="Link icon" /><span
                  >Проекты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/sliders.html"
                ><img src="img/icons/objects-menu.svg" alt="Link icon" /><span
                  >Глав. слайдер</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/feedback.html"
                ><img src="img/icons/feedbackIcon.svg" alt="Link icon" /><span
                  >Отзывы</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/partners.html"
                ><img src="img/icons/PartnersIcon.svg" alt="Link icon" /><span
                  >Партнёры</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/texts.html"
                ><img src="img/icons/textsIcon.svg" alt="Link icon" /><span
                  >Тексты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/contacts.html"
                ><img src="img/icons/ContactsIcon.svg" alt="Link icon" /><span
                  >Контакты</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/menu.html"
                ><img src="img/icons/menuIcon.svg" alt="Link icon" /><span
                  >Меню</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/seo.html"
                ><img src="img/icons/seoIcon.svg" alt="Link icon" /><span
                  >Seo</span
                ></a
              >
            </li>
            <li class="header__link-item">
              <a class="header__link" href="/settings.html"
                ><img src="img/icons/SettingsIcon.svg" alt="Link icon" /><span
                  >Настройки</span
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="header__collapse">
          <img src="img/icons/HeaderArrow.svg" alt="Collapse" /><span
            >Скрыть</span
          >
        </div>
      </div>
    </header>
    <main id="texts-building">
      <form class="container main-form" action="/">
        <div class="row mb-5">
          <div class="col-12">
            <div class="page-title-row">
              <h1 class="page-title">Тексты</h1>
              <div class="btn-wrap">
                <button class="btn btn-primary" type="submit">
                  Сохранить изменения
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <div class="texts-menu">
              <a class="texts-menu_item" id="texts-menu_main" href="/texts.html"
                >Главная</a
              ><a
                class="texts-menu_item"
                id="texts-menu_about"
                href="/texts-about.html"
                >О компании</a
              ><a
                class="texts-menu_item"
                id="texts-menu_building"
                href="/texts-building.html"
                >Строительство</a
              ><a
                class="texts-menu_item"
                id="texts-menu_renovation"
                href="/texts-renovation.html"
                >Ремонт</a
              ><a
                class="texts-menu_item"
                id="texts-menu_feedback-form"
                href="/texts-feedback.html"
                >Форма обратной</a
              >
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="mainSubtitle"
              value="В Одессе"
            />
          </div>
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="mainTitle"
              value="Строительство"
            />
          </div>
          <div class="col-4">
            <input
              class="form-control"
              type="text"
              name="mainDescription"
              value="От 145$/м2"
            />
          </div>
        </div>
        <div class="row mb-4 building-cards">
          <div class="col-4">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint"
                  >Рекомендуемый формат фото - svg</span
                >
              </div>
            </div>
            <input
              class="form-control mt-3 mb-3"
              type="text"
              name="cardTitle"
              value="Качественные материалы"
            /><textarea
              class="form-control card-textarea"
              name="cardDescription"
            >
If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.</textarea
            >
          </div>
          <div class="col-4">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint"
                  >Рекомендуемый формат фото - svg</span
                >
              </div>
            </div>
            <input
              class="form-control mt-3 mb-3"
              type="text"
              name="cardTitle"
              value="Качественные материалы"
            /><textarea
              class="form-control card-textarea"
              name="cardDescription"
            >
If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.</textarea
            >
          </div>
          <div class="col-4">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint"
                  >Рекомендуемый формат фото - svg</span
                >
              </div>
            </div>
            <input
              class="form-control mt-3 mb-3"
              type="text"
              name="cardTitle"
              value="Качественные материалы"
            /><textarea
              class="form-control card-textarea"
              name="cardDescription"
            >
If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event in childhood that started you along this exciting hobby.</textarea
            >
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint"></span>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
                <input
                  class="form-control mt-3 mb-3"
                  type="text"
                  name=""
                  value="Подробнее"
                /><textarea class="form-control card-textarea" name="">
If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3">
            <div class="form-group add-file create-slide">
              <div class="inputs-photo_action">
                <div class="hint-icons"></div>
                <button
                  class="action-btn view"
                  data-toggle="modal"
                  data-target="#photo-modal"
                  data-src="img/DefaultImage.png"
                >
                  <img
                    class="icon-action"
                    src="img/icons/ViewIcon.svg"
                    alt="View"
                  /></button
                ><label class="add-icon edit"
                  ><div class="add-icon_plus"><span></span><span></span></div>
                  <input
                    class="form-control-file input-preview_file"
                    type="file"
                    accept="image/*"
                    data-img-size="big"/></label
                ><button class="action-btn delete" data-action="delete">
                  <img
                    class="icon-action"
                    src="img/icons/DeleteIcon.svg"
                    alt="Delete"
                  /></button
                ><span class="input-preview_hint"></span>
              </div>
            </div>
          </div>
          <div class="col-9">
            <div class="row">
              <div class="col-12">
                <input
                  class="form-control mt-3 mb-3"
                  type="text"
                  name=""
                  value="Ещё подробнее"
                /><textarea class="form-control card-textarea" name="">
If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare.</textarea
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6 mb-4">
                <input
                  class="form-control"
                  type="text"
                  name="statisticTitle"
                  value="О нас в цифрах"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-4 mb-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="count1"
                  value="16"
                /><input
                  class="form-control"
                  type="text"
                  name="item1"
                  value="Жилых комплексов"
                />
              </div>
              <div class="col-4 mb-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="count2"
                  value="1500"
                /><input
                  class="form-control"
                  type="text"
                  name="item2"
                  value="Продано квартир/домов"
                />
              </div>
              <div class="col-4 mb-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="count3"
                  value="15"
                /><input
                  class="form-control"
                  type="text"
                  name="item3"
                  value="Сотрудников в компании"
                />
              </div>
              <div class="col-4 mb-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="count4"
                  value="15"
                /><input
                  class="form-control"
                  type="text"
                  name="item4"
                  value="Лет работы"
                />
              </div>
              <div class="col-4 mb-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="count5"
                  value="15"
                /><input
                  class="form-control"
                  type="text"
                  name="item5"
                  value="Лет работы"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-3">
            <div class="row">
              <div class="col-6">
                <input
                  class="form-control"
                  type="text"
                  name="stepsTitle"
                  value="Этапы строительства"
                />
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="item5"
                  value="Название этапа"
                />
              </div>
              <div class="col-12">
                <textarea class="form-control card-textarea" name="item5">
Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you</textarea
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="item5"
                  value="Название этапа"
                />
              </div>
              <div class="col-12">
                <textarea class="form-control card-textarea" name="item5">
Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you</textarea
                >
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="item5"
                  value="Название этапа"
                />
              </div>
              <div class="col-12">
                <textarea class="form-control card-textarea" name="item5">
Gourmet cooking is a style of food preparation that deals with the finest and freshest possible ingredients.This means that to enjoy authentic gourmet food you</textarea
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
      integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./js/bundle.js"></script>
  </body>
</html>
